<body>
<router-outlet>
    <div>
        <ul>
            <!-- <li class="nav-item">
                <a class="nav-link text-white" routerLink="/homepage">Home</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link text-white" routerLink="/user">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/register">Register</a>
            </li> -->
            <li>
                <a class=" text-white report" routerLink="/report">Reports</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-white" routerLink="/agent">Agents</a>
            </li> -->
            <li>
                <a class=" text-white dashboard" routerLink="/dashboard">Dashboard</a>
            </li>
      </ul>
    </div>
</router-outlet>



</body>